@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior:smooth ;
}

body{
    background: #333;
    font-family: 'Manrope', sans-serif;
}

body::before{
    position: fixed;
    content: "";
    left: -10px;
    bottom: -10px;
    height: 300px;
    width: 300px;
    background: #ff2e5f;
    filter: blur(150px);
    z-index: -1;
}

body::after{
    position: fixed;
    content: "";
    right: -10px;
    bottom: -10px;
    height: 200px;
    width: 200px;
    background: #f9f53f;
    filter: blur(150px);
    z-index: -1;
}

.containerBx::after{
    position: fixed;
    content: "";
    right: 30%;
    bottom: 50%;
    height: 100px;
    width: 100px;
    background: #f9f53f;
    filter: blur(100px);
    z-index: -1;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    z-index: 1000;
}

header .logo{
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 2px;
}

header .logo span{
    color: #ff0157;
}

header .logo span:nth-child(2){
    color: #4dca1b;
}

header ul{
    position: relative;
    display: flex;
}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    transform: 0.5s;
}

header ul li a:hover{
    color: #4dca1b;
}

header a.btn1{
    position: relative;
    font-size: 1em;
    color: white;
    background: #4dca1b;
    display: inline-block;
    padding: 10px 30px;
    margin: 0 15px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 0.5s;
}

header a.btn1:hover{
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

@media (max-width: 1200px){
    header{
        padding: 20px 50px;
    }
    header .menu{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.5);
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(40px);
        z-index: 1000;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    header .menu.active{
        display: flex;
    }
    header .menu li{
        margin: 20px 0;
    }
    header .menu li a{
        font-size: 24px;
        margin: 10px 0;
    }
    .toggle{
        position: relative;
        width: 30px;
        height: 30px;
        background: url(imagens/menu-btn.png);
        background-position: center;
        background-size: 30px;
        background-repeat: no-repeat;
        cursor: pointer;
        margin-left: 135px;
        z-index: 1001;
        transition: 0.5s;
    }
    .toggle.active{
        background: url(imagens/menu-close-white.png);
        background-position: center;
        background-size: 25px;
        background-repeat: no-repeat;
        
    }
    
}